<header>
  <h1>CANAL ALPHA</h1>
</header>
<div ID="container-all"></div>
  <div class="item item-1">
  La sombra representa nuestros aspectos oscuros y reprimidos. En la vida, enfrentamos desafíos y absurdos que pueden compararse con esta sombra colectiva. La comedia cósmica nos invita a confrontarla con humor y aceptación, permitiéndonos integrarla y crecer. En resumen, abrazar la comedia en medio del caos nos ayuda a iluminar y reconciliar nuestra sombra colectiva, llevándonos hacia una mayor comprensión y conexión con nosotros mismos y con el universo.</div>
  
  <div class="item item-2">
      <img src="/assets/img/op1.jpg" alt="">
  </div>

  <div class="item item-3">
      <img src="/assets/img/op2.jpg" alt="">
  </div>

  <div class="item item-4">En la vida, a menudo nos aferramos a lo familiar, evitando explorar lo desconocido. Pero al atrevernos a aventurarnos en nuevos territorios, enfrentamos nuestra propia sombra interior. Es en este desafío donde descubrimos nuevas capas de nuestra autenticidad y creatividad. Al explorar y crecer, nos convertimos en artistas de nuestra propia existencia, creando obras que reflejan la plenitud de nuestra humanidad.
  </div>